@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/functions';
@import '../../scss/mixins';

summary {
  display: flex; /* also removes the list marker */
  align-items: center;
  font-family: $font-primary-bold;
  gap: 8px;
  cursor: pointer;

  &:focus-visible {
    @include outline($color-hilight);
  }

  &::after {
    content: '';

    @include chevron($dir: down);
  }
}

details {
  margin-top: 4px;
}

details[open] > summary::after {
  @include rotate(-135deg);
}
