@import '../../scss/colors';
@import '../../scss/fonts';
@import '../../scss/functions';
@import '../../scss/mixins';

summary {
  list-style: none;
  display: flex; /* also removes the list marker */
  align-items: center;
  padding: 10px;
  font-family: $font-primary-bold;
  gap: 8px;
  cursor: pointer;
}

summary::after {
  content: '';

  @include chevron($dir: down);
}

details[open] > summary::after {
  @include rotate(-135deg);
}
