@use '../../scss/globals' as *;
@use '../../scss/variables' as *;

.panel {
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: $color-white;
  height: 100%;
  padding: 20px;

  &.left {
    left: -100%;

    &.is-active {
      left: 0;
    }
  }

  @include transition;
}
