@use '../../scss/globals' as *;
@use '../../scss/variables' as *;

.main-header {
  justify-content: space-between;
  align-items: flex-end;

  @include max-size($medium) {
    background-color: $color-white;
    box-shadow: 0 5px 4px -5px rgb(1 1 1 / 25%);
    max-height: rem($header-height);

    @media (prefers-color-scheme: dark) {
      background-color: $color-primary-dark;
    }
  }

  .logo {
    margin-bottom: 20px;

    @include max-size($medium) {
      padding-bottom: 0;
      margin-bottom: 8px;
    }
  }

  svg {
    min-width: rem(400px);

    @media (prefers-color-scheme: dark) {
      path {
        fill: $color-primary-light;
      }
    }

    @include max-size($medium) {
      min-width: rem(260px);
    }
  }

  &.container {
    padding-top: 20px;
    flex-direction: row;

    @include max-size($medium) {
      align-items: flex-start;
    }
  }

  @include max-size($medium) {
    position: sticky;
    top: 0;
    z-index: 20;
  }
}
