@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/mq-size';

.main-header {
  justify-content: space-between;
  align-items: flex-end;

  @include mq-size($medium) {
    background-color: $color-white;

    @media (prefers-color-scheme: dark) {
      background-color: $color-primary-dark;
    }
  }

  .logo {
    margin-bottom: 20px;

    @include mq-size($medium) {
      padding-bottom: 0;
    }
  }

  svg {
    min-width: rem(400px);

    @media (prefers-color-scheme: dark) {
      path {
        fill: $color-primary-light;
      }
    }

    @include mq-size($medium) {
      min-width: rem(260px);
    }
  }

  &.container {
    padding-top: 20px;
    flex-direction: row;

    @include mq-size($medium) {
      align-items: flex-start;
    }
  }

  @include mq-size($medium) {
    position: sticky;
    top: 0;
    z-index: 20;
  }

  .main-nav {
    @include mq-size($medium) {
      display: none;
    }
  }
}
