@import '../../scss/colors';
@import '../../scss/functions';
@import '../../scss/mixins';
@import '../../scss/mq-size';

.quote-container {
  display: flex;
  justify-content: center;

  .block-quote {
    padding-bottom: 16px;
  }
}

.quote-content {
  display: flex;
  gap: 40px;
  padding: 20px 60px;
  margin-bottom: 30px;
  max-width: rem(700px);
  border-bottom: 1px solid $color-border;

  @include max-size($medium) {
    flex-direction: column;
    gap: 0;
    padding: 12px;
  }

  .quote-icon {
    width: 100%;
    max-width: rem(50px);
    color: $color-hilight;
  }

  .quote-cite {
    display: flex;
    justify-content: flex-end;
  }
}
