@use '../../scss/globals' as *;

.grid {
  @include grid;

  @include max-size($small) {
    grid-template-columns: 1fr;
  }

  &.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .col {
    border-right: 1px solid $color-border;
    padding-right: 12px;

    @include max-size($small) {
      border: 0;
    }

    &:last-child {
      border: 0;
      padding-right: 0;
    }
  }

  .col-header {
    display: flex;
    justify-content: space-between;
    background-color: $color-gray-medium;
    margin-bottom: 16px;
    text-transform: uppercase;
    padding: 12px;

    @media (prefers-color-scheme: dark) {
      background-color: $color-primary;
    }
  }

  .col-title {
    font-size: rem(24px);
    letter-spacing: rem(2px);
  }

  .col-sub-title {
    font-size: rem(14px);
    margin: 0;
  }
}
