@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/mq-size';

.tab-navigation-list {
  ul {
    margin: 0;
    padding: 0;
  }
}

.tab-navigation {
  display: flex;
  gap: 4px;

  @include max-size($small) {
    overflow: auto;
    max-width: 342px;
  }

  .tab {
    &.btn {
      overflow: hidden;
      white-space: nowrap;

      &:focus-visible {
        @include outline($color-secondary-light);
      }
    }

    &.btn-secondary {
      border: 1px solid $color-white;
      background-color: $color-gray-light;

      @media (prefers-color-scheme: dark) {
        background-color: $color-secondary-dark;
        color: $color-primary-light;
      }

      &:hover,
      &.active {
        background-color: $color-primary;
        border-bottom: 4px solid $color-secondary;
        color: $color-primary-light;
      }
    }
  }
}
