@import '../../scss/colors';

.tab-navigation-list {
  ul {
    margin: 0;
    padding: 0;
  }
}

.tab-navigation {
  display: flex;
  gap: 4px;
  overflow: auto;

  .tab {
    &.btn {
      border-bottom: 4px solid $color-white;
      overflow: hidden;
      white-space: nowrap;

      &:focus-visible {
        border-bottom: 4px solid $color-secondary;
        outline: transparent;
      }
    }

    &.btn-secondary {
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;

      &:hover,
      &.active {
        background-color: $color-primary;
        border-bottom: 4px solid $color-secondary;
        color: $color-gray-light;
      }
    }
  }
}
