@import '../../../scss/colors';
@import '../../../scss/fonts';
@import '../../../scss/functions';
@import '../../../scss/mixins';

// Remove autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  box-shadow:
    0 0 0 1000px rgb(255 255 255 / 50%) inset,
    0 0 0 1000px #fff inset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

::placeholder {
  color: $color-primary-medium;
  opacity: 1;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .form-label {
    margin-bottom: 4px;
  }

  input,
  select,
  textarea {
    width: 100%;
    background-color: $color-white;
    color: $color-primary;
    position: relative;
    border: 1px solid $color-border;
    font-size: rem(14px);
    padding: 12px;
    border-radius: 4px;
    outline: transparent;

    &:focus-visible {
      background: linear-gradient($color-blue-dark, $color-blue2) bottom -12px left
        0 / 100% 3px content-box padding-box repeat-x;
    }
  }

  .text-danger {
    font-family: $font-primary-bold;
  }

  input[aria-invalid='true'] {
    @include outline($color-danger);
  }
}

.checkbox-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  /* stylelint-disable-next-line no-descending-specificity */
  input {
    appearance: none;
    margin-right: 10px;
    background-color: $color-white;
    color: currentcolor;
    width: rem(24px);
    height: rem(24px);
    border: 2px solid $color-blue-dark;
    transform: translateY(-1.2px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    @include transition($time: 0.22s);

    &:focus-visible {
      outline: transparent;
    }
  }

  &:focus-within {
    outline: 2px solid rgba($color-blue-dark, 70%);
  }

  .form-label {
    order: 2;
  }
}

fieldset {
  border: 0;
  margin: 10px 0;
  position: relative;
  padding: 0;
  padding-top: 50px;
}

legend {
  font-family: $font-primary-bold;
  position: absolute;
  top: 20px;
  left: 0;
}

.form-info {
  font-style: italic;
  font-size: rem(12px);
  line-height: rem(18px);
  margin: 12px 0;
}

.form-label-container {
  display: flex;
  gap: 12px;
}
