@import '../../../scss/functions';
@import '../../../scss/colors';
@import '../../../scss/mixins';

// Remove autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  box-shadow:
    0 0 0 1000px rgb(255 255 255 / 50%) inset,
    0 0 0 1000px #fff inset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.checkbox-radio-container {
  display: flex;

  &:focus-within {
    outline: 2px solid rgba($color-blue-dark, 70%);
  }

  .form-label {
    order: 2;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  // &:has(input[type='radio']) {
  //   flex-direction: row;
  //   align-items: center;
  //   padding: 8px 0;
  //   margin-bottom: 0;

  //   &:focus-within {
  //     outline: 2px solid rgba($color-blue-dark, 70%);
  //   }
  // }

  .form-label {
    margin-bottom: 4px;
  }

  input,
  select,
  textarea {
    width: 100%;
    background-color: $color-white;
    color: $color-primary;
    position: relative;
    border: 1px solid $color-border;
    font-size: rem(14px);
    padding: 12px;
    border-radius: 4px;
    outline: transparent;

    &:focus-visible {
      background: linear-gradient($color-blue-dark, $color-blue2) bottom -12px left
        0 / 100% 3px content-box padding-box repeat-x;
    }
  }
}

fieldset {
  border: 0;
  margin: 10px 0;
  position: relative;
  padding: 0;
  padding-top: 50px;
}

legend {
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 0;
}
