@use '../globals' as *;

.main-footer {
  justify-content: flex-end;

  &.container {
    padding-top: 20px;
    padding-bottom: 14px;

    @include max-size($medium) {
      align-items: flex-end;
    }
  }

  .copyright {
    border-bottom: 1px solid $color-hilight;
    padding-bottom: 8px;
    font-size: rem(14px);
  }
}
