.container {
  width: 100%;
  max-width: rem(1250px);
  margin: 0 auto;
  display: flex;
  padding: 0 16px;

  @include max-size($medium) {
    flex-direction: column;
  }
}

.main-container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.main-content {
  gap: 70px;
  margin-top: 28px;

  @include max-size($medium) {
    margin-top: 12px;
  }
}

.content-container {
  width: 100%;
}

.new-window-link {
  .icon-blank {
    position: relative;
    top: 6px;
    margin-left: 4px;
  }
}

.wcag-future {
  li {
    margin-bottom: 20px;
  }
}

.list-square {
  list-style: square;

  li::marker {
    color: $color-blue-dark-medium;
    font-size: rem(24px);
  }
}

.visibility-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}

.bottom-links {
  margin-bottom: 30px;
}

.source-links {
  margin-top: 8px;

  @include max-size($small) {
    flex-direction: column;

    &.flex-baseline {
      gap: 0;
    }
  }
}

.text-error {
  color: $color-error;

  @media (prefers-color-scheme: dark) {
    color: $color-error-light;
  }
}
