.container {
  width: 100%;
  max-width: rem(1250px);
  margin: 0 auto;
  display: flex;
  padding: 0 16px;

  @include mq-size($medium) {
    flex-direction: column;
  }
}

.main-container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.main-content {
  gap: 70px;
}

.content-container {
  width: 100%;
}

.new-window-link {
  .icon-blank {
    position: relative;
    top: 6px;
    margin-left: 4px;
  }
}

.list-square {
  list-style: square;

  li::marker {
    color: $color-blue-dark;
    font-size: rem(24px);
  }
}

.border-info-content {
  border: 1px solid $color-border;
  padding: 20px;
  margin: 30px 0;

  .border-sub-title {
    font-style: italic;
  }

  .border-content-heading {
    font-size: rem(24px);
    font-weight: normal;
    margin-top: 0;
  }
}

.visibility-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
}

.bottom-links {
  margin-bottom: 30px;
}

.text-danger {
  color: $color-danger;
}
