@import '../../scss/colors';
@import '../../scss/mixins';

.banner {
  padding: 20px;
  margin-bottom: 30px;

  @include color-scheme($scheme-medium...);

  @media (prefers-color-scheme: dark) {
    background-color: rgb(17 53 75 / 50%);
    color: #f8f8f8;

    // @include color-scheme($scheme-dark...);
  }

  .banner-content {
    margin: 0;
  }
}
