@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/mq-size';

.banner {
  padding: 30px 40px;
  margin-bottom: 30px;

  @include max-size($medium) {
    padding: 16px;
  }

  @include color-scheme($scheme-medium...);

  @media (prefers-color-scheme: dark) {
    background-color: $color-dark-bg;
    color: $color-primary-light;
  }

  .banner-header {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
    align-items: center;
    position: relative;
  }

  .banner-content {
    margin: 0;
  }
}
