@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/mq-size';

.banner {
  padding: 30px 40px;
  margin-bottom: 30px;

  @include mq-size($medium) {
    padding: 16px;
  }

  @include color-scheme($scheme-medium...);

  @media (prefers-color-scheme: dark) {
    background-color: rgb(17 53 75 / 50%);
    color: #f8f8f8;

    // @include color-scheme($scheme-dark...);
  }

  .banner-header {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
    align-items: center;

    .banner-icon-container {
      display: flex;
      gap: 12px;
      align-items: center;
      position: relative;
      top: -22px;
      right: -24px;

      @include mq-size($medium) {
        top: -4px;
        right: 2px;
      }
    }

    .banner-title {
      flex-grow: 1;
    }
  }

  .banner-content {
    margin: 0;
  }
}
