@use '../../scss/globals' as *;
@use '../../scss/variables' as *;

.nav-container {
  &.panel {
    top: rem($header-height);
    width: 100%;
  }
}

.nav-item-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item {
  a {
    font-family: $font-primary;
    color: $color-primary;
    text-decoration: none;
    font-size: rem(20px);

    @media (prefers-color-scheme: dark) {
      background-color: $color-primary-dark;
      color: $color-primary-light;
    }

    @include transition;

    &:hover {
      @include min-size($medium) {
        color: $color-hilight;
      }
    }

    &.active {
      color: $color-hilight;
    }
  }
}

.nav {
  min-width: rem(308px);

  .sub-nav {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .nav-item {
    border-bottom: 1px solid $color-border;

    @include transition;

    a {
      padding-bottom: 20px;
      display: flex;
      width: 100%;

      &:focus-visible {
        color: $color-primary-light;
        background-color: $color-primary;
        outline: transparent;
      }
    }

    &:has(.sub-nav) {
      a {
        padding-bottom: 10px;
      }
    }

    .sub-nav-item {
      a {
        font-size: rem(16px);
        padding: 4px 20px;
      }
    }

    @include max-size($medium) {
      &:has(a.active, a:hover) {
        border-color: $color-hilight;
      }
    }
  }
}
