a {
  &.btn {
    text-decoration: none;
  }
}

a[class^='btn-'],
.btn {
  border: 0;
  position: relative;
  padding: 8px 20px;
  font-weight: normal;
  min-width: rem(90px);
  font-size: rem(14px);
  cursor: pointer;

  &:hover {
    background-color: $color-secondary;
  }

  @include transition;

  &::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -18%;
    width: 130%;
    height: 193%;
  }

  &:disabled {
    pointer-events: none;
    background-color: $color-gray-light;
    color: $color-blue3;
    border-color: $color-gray-light;

    /* stylelint-disable-next-line no-descending-specificity */
    svg {
      fill: $color-blue3;
    }
  }
}

.btn-ghost {
  background-color: transparent;
  text-align: left;
  min-width: auto;
  padding: 0;
  font-size: inherit;

  &.btn {
    &:hover {
      background-color: inherit;
      opacity: 0.7;
    }

    &:focus-visible {
      @include outline($color-hilight);
    }
  }
}

.btn-primary {
  @include color-scheme($scheme-btn-dark...);

  border: 1px solid $color-secondary-dark;

  &:focus-visible {
    @include outline($color-secondary);

    border-color: $color-white;
  }
}

.btn-secondary {
  @include color-scheme($scheme-btn-secondary...);

  @media (prefers-color-scheme: dark) {
    background-color: #563457;
    border: 1px solid #563457;
    color: #e4e8eb;
  }

  border: 1px solid $color-secondary-dark;

  &:focus-visible {
    @include outline($color-secondary);

    border-color: $color-white;
  }

  &.btn {
    &:hover {
      @media (prefers-color-scheme: dark) {
        background-color: #811a71;
      }

      background-color: $color-secondary;
      color: $color-gray-light;
    }
  }
}

.btn-link {
  font-family: $font-primary-bold;
  background-color: transparent;
  border: 0;
  color: $color-link;
  text-decoration: underline;
  padding: 0;

  &:hover {
    text-decoration: none;
    background-color: transparent;
  }

  &:focus-visible {
    @include outline($color-link);
  }
}

.btn-close {
  &:hover {
    color: $color-secondary;
  }
}
