$color-white: #fff;
$color-black: #000;
$color-primary: #414b52;
$color-primary-dark: #0a0a0a;
$color-primary-light: #e4e8eb;

// $color-secondary
$color-secondary: #009688;
$color-secondary-dark: #156060;
$color-secondary-light: #17bab2;

// Gray
$color-gray-medium: #d2d0d0;
$color-gray-subtle: #f4f6f7;
$color-gray-light: #f8f8f8;

// Blue
$color-blue-dark: #617886;
$color-blue: #475c6a;
$color-blue2: #617c8d;
$color-blue3: #bcc9d1;

// $color-mics
$color-hilight: #d96500;
$color-link: #922f55;
$color-placeholder: #737373;
$color-danger: #9d2f2f;
$color-error: $color-danger;
$color-error-light: #f41b0b;

// Toast colors
$color-success: #32618a;
$color-success-light: #8fb3d2;
$color-danger: $color-danger;
$color-danger-light: #f3a4a4;
$color-info: #429444;
$color-info-light: #a4daa6;
$color-warning: #eab947;
$color-warning-light: #fae5a6;

// Prefer dark
$color-dark-bg: #25333c;
$color-card-info-bg: #161618;

// Scheme colors
$scheme-dark: $color-primary, $color-primary-light;
$scheme-medium: $color-gray-light, $color-primary;
$scheme-light: $color-gray-subtle, $color-primary;

// Scheme Btn colors
$scheme-btn-secondary: $color-gray-light, $color-secondary-dark;
$scheme-btn-dark: $color-secondary-dark, $color-primary-light;

// Border
$color-border: $color-gray-medium;
